head
  meta(charset='utf-8')
  title Title2
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css')

  body
    .modal-dialog
        .modal-content
          // Modal Header
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") ×
              span.sr-only Close
            h4#myModalLabel.modal-title
              | Edit Resource
          // Modal Body
          .modal-body
       
            form(role='form' method='Post' action='/AddUser')
              div.form-group
                label(for='name') Name:
                input#name.form-control(type='text', placeholder='name' name='name')
              div.form-group
                label(for='email') Email:
                input#email.form-control(type='email', placeholder='name@email.com' name='email')
              button.btn.btn-primary(type="submit", name="asdf") Submit
              button.btn.btn-default(type="button", data-dismiss="modal")
                | Close
          // Modal Footer
          .modal-footer
            h4 footer

    // footer
    p.foot.text-xs-center test